body {
  background-color: #4E2559;
}

.wrap {
  background-color: white;
}

h1 {
  font-size: 1.4em;
}

.post-content p {
  text-align: justify;
}

@media screen and (min-width: 740px) {
  header {
    padding: 20px 70px 20px 40px;
  }
  header .logo-link {
    height: 0; /* Otherwise can mistakenly shift the first title */
  }
  header .logo-link img {
    width: 300px;
    transform: translateY(-40px);
  }
  .wrap {
    width: 740px;
  }
  main.container {
    margin: 40px;
  }
  .giscus {
    margin: 40px;
    width: 660px;
  }
}