body {
  background-color: #4E2559;
}

.wrap {
  background-color: white;
}

@media screen and (min-width: 700px) {
  header {
    padding: 20px 70px 20px 20px;
  }
  header .logo-link {
    height: 0; /* Otherwise can mistakenly shift the first title */
  }
  header .logo-link img {
    width: 300px;
    transform: translateY(-40px);
  }
  .wrap {
    width: 700px;
    margin: 0 auto;
  }
}