:root {
  --webfx-background-color: #4E2559;
}

.wrap {
  background-color: white;
}

.post-block .post-title {
  font-size: 1.49em; /* instead of 1.5em - for better fit with TeaVM post */
}

h1 {
  font-size: 1.4em;
}

.post-content p, .post-block .post-title {
  text-align: justify;
}

table {
  margin: 2em auto;
}

@media screen and (min-width: 700px) {
  header {
    padding: 20px 70px 20px 40px;
  }
  header .logo-link {
    height: 0; /* Otherwise can mistakenly shift the first title */
  }
  header .logo-link img {
    width: 300px;
    transform: translateY(-40px);
  }
}
@media screen and (min-width: 800px) {
  body {
    background-color: var(--webfx-background-color);
    padding: 30px;
  }
  .wrap {
    border-radius: 10px;
    width: 800px;
    padding-top: 20px;
  }
  main.container {
    margin: 40px;
  }
  .giscus {
    margin: 40px;
    width: 720px;
  }
}